<!DOCTYPE html>
<html>

<head>
    <!--General header files-->
    <title>English Experience</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--RONARD-CREATED STYLE SHEETS-->
    <link rel="stylesheet" href="/stylesheets/showPagesStyle.css">
    <link rel="stylesheet" href="/stylesheets/alumniAll.css">
    <link rel="stylesheet" href="/stylesheets/landingPage.css">


    <!--LANDING PAGE-->
    <link rel="stylesheet" href=".stylesheets/landing/aos.css">
    <link rel="stylesheet" href=".stylesheets/landing/style.min.css">
</head>

<body>
    <style>
        .navbar a {
            font-size: 1.15em;
        }
        
        .logoSize {
            /* Had to use important in this attribute because the .navbar a style superseedes */
            font-size: 1.4em !important;
        }
    </style>

    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand logoSize" href="/"> <i class="fab fa-connectdevelop fa-lg"></i> ENGLISH EXPERIENCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link nav-size" href="/q&a"> Q&A </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/alumni">Alumni</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-3" href="/resources" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            English Resources
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Future with English</a>
                        <a class="dropdown-item" href="#">Praxis Exam</a>
                        <a class="dropdown-item" href="#">Interview Preparation</a>
                        <a class="dropdown-item" href="#">Class Description</a>
                        <a class="dropdown-item" href="#">What's My Professor Up To?</a>
                        <a class="dropdown-item" href="#">Local Folklore</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <% if(!currentUser) { %>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item mr-1.5">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item mr-1.5">
                            <a class="nav-link" href="#"> Logged in as <b><%= currentUser.username %></b> </a>
                        </li>
                        <li class="nav-item mr-1.5">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>

    <% if(error && error.length > 0) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        </div>
        <% } %>

            <% if(success && success.length > 0) { %>
                <div class="container">
                    <div class="alert alert-info" role="alert">
                        <%= success %>
                    </div>
                </div>
                <% } %>