<% include ./partials/header.ejs %>
    <style>
        .navbar {
            margin-bottom: 0;
        }
    </style>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="display-1 heading1">English Experience</h1>
                <hr class="landing-underline">
                <h2 class="heading2 display-3 mb-0">Connecting has never been so easy</h2>
                <h4 class="heading3 display-4">Ask questions, reach out to current & former faculty and students, and buy & sell books</h4>
            </div>
        </div>
        <div class="display-1 bg-circle"></div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid imageLanding" src="images/question.jpg">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4 heading-weight"> Q&A</h2>
                        <p class="lead">
                            Does everyone in the USU English department use the Oxford Comma? Find out. <br><br> "Do I contradict myself? Very well then I contradict myself, (I am large, I contain multitudes.)"</i> Do those wise words still apply in a
                            world where everything is so permanent, where a tweet can be our demise? Let's discuss.
                        </p>
                        <a href="/q&a" class="lead landingPageLinks"> Ask a <i class="fas fa-question"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid imageLanding" src="images/alumni.jpg">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4 heading-weight">Department <br>Connection</h2>
                        <p class="lead"> Remember Parker and Sadie from your 3k level classes? Wonder what they are up to? They probably wonder about you too.
                            <br><br> While we're at it, what are other alumni doing with their degree?
                        </p>
                        <a href="/alumni" class="lead landingPageLinks"> Introduce Myself <i class="far fa-comments"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid imageLanding" src="images/book.jpg">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4 heading-weight">Book Selling <br> & Exchanging</h2>
                        <p class="lead">Why trouble with packing and shipping your old Greek Mythology books when Sarah from your Literary Analysis class wants to buy them? Just bring them to class tomorrow.
                            <br><br> There are many fascinating people in your classes; buying or selling a book from them can be a good conversation starter.
                        </p>
                        <a href="/books" class="lead landingPageLinks"> Sell/Buy a <i class="fas fa-book"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--
    Photo by Jon Tyson on Unsplash
    Photo by Javier Allegue Barros on Unsplash
    Photo by Sharon McCutcheon on Unsplash
    -->
    <% include ./partials/footer.ejs %>