<% include partials/header.ejs %>

<h1>USU English Resources Page</h1>

<h3>This magnificent location will be all about resources for both students and professors</h3>

<% include partials/footer.ejs %>