.inline {
    display: inline;
}

.imageNoPadding {
    padding: 0;
}

.noUnderline {
    text-decoration: none !important;
}

.hrcomment {
    width: 60%;
    margin-top: -1px;
}

.submitted {
    padding-top: 8px;
}